// variables
@import "./utils/variables";

// base style
@import "./base/base";
@import "./base/reset";
@import "./base/container.scss";

// components style
@import "./components/section";
@import "./components/button";
@import "./components/social";
@import "./components/section";
@import "./components/modal-window";
@import "./components/form/logo";
@import "./components/form/form";

// layouts
@import "./layouts/header";
@import "./layouts/hero";
@import "./layouts/item-business";
@import "./layouts/making_deal";
@import "./layouts/team";
@import "./layouts/always-clines";
@import "./layouts/portfolio";
@import "./layouts/footer";

@media (max-width: 321px) {
  .page {
    overflow-x: hidden;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .page {
    width: 769px;
    margin: 0 auto;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .page {
    width: 480px;
    margin: 0 auto;
  }
}
