// variables
@import "./utils/variables";

// base style
@import "./base/base";
@import "./base/reset";
@import "./base/container.scss";

// components style
@import "./components/section";
@import "./components/button";
@import "./components/social";
@import "./components/section";
@import "./components/modal-window";
@import "./components/form/logo";
@import "./components/form/form";


// layouts
@import "./layouts/header";
@import "./layouts/hero";
@import "./layouts/item-business";
@import "./layouts/making_deal";
@import "./layouts/team";
@import "./layouts/always-clines";
@import "./layouts/portfolio";
@import "./layouts/footer";