button {
  border-radius: 4px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 1);
  font-family: inherit;
  cursor: url(../images/icon/cursor.svg), auto;
}
.button-general {
  padding: 10px 32px;
  min-width: 200px;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 1px solid var(--accent-color);
}
.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 8px;
  margin-top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover {
  fill: #2196f3;
}
.button-send {
  font-weight: 700;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
}
.close-svg {
  position: absolute;
  display: flex;
  width: 11px;
  height: 11px;
  z-index: 1;
}
.follower-form__btn {
  display: flex;
  font-weight: 700;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 0;
  align-items: center;
  justify-content: center;
}
.follower-form__btn  {
  .follower-form__svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  }
 
}
.btn-portfolio {
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.btn-portfolio  {
  & .list-portfolio-btn:not(:last-child) {
margin-right: 8px;
  }
}
.secondary-button {
  padding: 6px 22px;
  background-color: var(--secondary-button-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.secondary-button {
&:hover {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--accent-color);}
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border: 1px solid var(--accent-color);}
}
.button-all {
  min-width: 73px;
}
.button-web {
  min-width: 128px;
}
.button-app {
  min-width: 145px;
}
.button-marketing {
  min-width: 130px;
}