.social-networks {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 16px;
}

.social-networks__link {
  display: block;
  border-radius: 50%;
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  cursor: url(../images/icon/cursor.svg), auto;

  transition: fill, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks__svg--inherit {
  width: inherit;
  height: inherit;
}

.social-networks__item {
  padding-right: 10px;
}


.social-networks__link {
  &:hover {
      fill: var(--primary-bg-color);
      background-color: var(--accent-color);
  }
  &:focus {
    fill: var(--primary-bg-color);
    background-color: var(--accent-color);
  }
}
.footer-social__list {
  margin-left: -40px;
  margin-top: 20px;
  list-style: none;
  display: flex;
  gap: 10px;
}

.footer-social__list  {
  .footer-social__icon {
  border-radius: 50px;
  height: 44px;
  width: 44px;
  fill: var(--primary-bg-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: fill, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer-social__list {
 & .footer-social__icon:hover,
 & .footer-social__link:focus .footer-social__icon {
    background-color: var(--accent-color);
    cursor: url(../images/icon/cursor.svg), auto;
  }
}