
:root {
  --primary-text-color: #212121;
  --primary-bg-color: #ffffff;
  --accent-color: #2196f3;
  --block-background-color: rgba(47, 48, 58, 0.4);
  --info-color-footer: rgba(255, 255, 255, 0.6);
  --item-contact: #757575;
  --part-of-logo: #000000;
  --secondary-button-color: #f5f4fa;
  --border-color-head: #ececec;
  --border-color-portfolio: #eeeeee;
  --footer-color: #2f303a;
}

