.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  @media (min-width: 700px) and (max-width: 1200px) {
    font-size: 34px;
  }

  @media (max-width: 769px) {
    font-size: 20px;
  }
}

.hero {
  background-color: var(--footer-color);
  text-align: center;
  padding-top: 300px;
  padding-bottom: 300px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 700px) and (max-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  @media (max-width: 769px) {
    padding-top: 100px;
    padding-bottom: 100px;

    .hero-title {
      margin-bottom: 1rem;
    }

    .button-general {
      min-width: 150px;
      padding: 5px 16px;
    }
  }

  // desktop
  @media (min-width: 1201px) {
    background-image: linear-gradient(
        to right,
        var(--block-background-color),
        var(--block-background-color)
      ),
      url(../images/desk/img_result.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/desk/hero-bm@2x_result.jpg);
    }
  }
  // Tab
  @media (min-width: 769px) and (max-width: 1200px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tab/Header-md-img_result.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/tab/Header-md-img@2x_result.png);
    }
  }
  // mob
  @media (max-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mob/Header-sm-img_result.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/mob/Header-sm-img@2x_result.png);
    }
  }
}
