.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.hero {
  background-color: var(--footer-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  background-image: linear-gradient(to right,
      var(--block-background-color),
      var(--block-background-color)),
    url(../images/img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}