.container-team {
  padding: 0;
}

.section-team {
  background-color: var(--secondary-button-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-iteams {
  display: flex;

  & .team-iteams-1,
  & .team-iteams-2 {
    display: flex;
  }

  & .team-iteams__iteam {
    margin: 0 15px;
  }
  & .team-iteams__iteam:last-child {
    margin-right: 0;
  }
}

.team-iteams__iteam {
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.img-team {
  width: 270px;
}

.container-team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

.worker {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.worker__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-top: 0;
  margin-bottom: 10px;
}

.worker__profession--text {
  color: var(--item-contact);
  font-size: 16px;
  line-height: 19px;
  margin-top: 0;
}

@media (min-width: 769px) and (max-width: 1200px) {
  .team-iteams {
    flex-direction: column;

    & .team-iteams-1,
    & .team-iteams-2 {
      justify-content: center;
    }

    & .team-iteams-2 {
      margin-top: 4rem;
    }

    & .team-iteams__iteam img {
      width: 350px;
    }
  }
}

@media (max-width: 768px) {
  .team-iteams {
    flex-direction: column;
    align-items: center;

    & .team-iteams-1,
    & .team-iteams-2 {
      justify-content: center;
      flex-wrap: wrap;
    }

    & .team-iteams__iteam {
      margin-top: 2rem;
    }

    & .team-iteams__iteam img {
      width: 350px;
    }
  }
}
